/__pycache__/
/__pycache__/*
code_tests/__pycache__/
code_tests/__pycache__/*

code_tests/out_of_tape/*
code_tests/no_halt/*
code_tests/tasks/*
debug.gdb
bin/*
*.tape
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
